<div class="w-56 h-screen flex flex-col bg-base-300">
  <div class="text-2xl text-center m-3">DosboxUI</div>
  <div class="overflow-auto">
    <nav class="flex-1">
      <div class="mx-auto">
        <ul class="menu">
          <li>
            <h2 class="menu-title">Games</h2>
            <ul>
              <li>
                <a routerLink="/home">
                  <ng-icon name="heroHome"></ng-icon>Home
                </a>
              </li>
              <li><a href="#"><ng-icon name="heroMagnifyingGlass"></ng-icon>Search</a></li>
              <li><a href="#"><ng-icon name="heroCalendar"></ng-icon>Recent</a></li>
            </ul>
          </li>
          <li>
            <h2 class="menu-title">My play</h2>
            <ul class="">
              <li><a href="#"><ng-icon name="heroStar"></ng-icon>Favorites</a></li>
              <li><a href="#"><ng-icon name="heroArrowDownTray"></ng-icon>Installed</a></li>
              <li><a href="#"><ng-icon name="heroChartBar"></ng-icon>Play stats</a></li>
              <li><a href="#"><ng-icon name="heroPhoto"></ng-icon>Screenshots</a></li>
            </ul>
          </li>
          <li>
            <h2 class="menu-title">DOSBox</h2>
            <ul class="menu">
              <li>
                <a routerLink="/engines">
                  <ng-icon name="featherPackage"></ng-icon>Engines
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>

    <nav class="col-span-7">
      <div class="mx-auto">
        <ul class="menu">
          <li>
            <h2 class="menu-title">About us</h2>
            <ul>
              <li><a href="#"><ng-icon name="heroGlobeAlt"></ng-icon>website</a></li>
              <li><a href="#"><ng-icon name="featherGithub"></ng-icon>github</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
