<div class="navbar bg-base-100">
  <div class="navbar-start">

  </div>
  <div class="navbar-center">
    <div class="form-control w-96">
      <input type="text" placeholder="Search" class="input input-bordered" />
    </div>
  </div>
  <div class="navbar-end">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="flex btn btn-ghost btn-circle avatar">
        <div class="place-content-center w-10 rounded-full place-items-center">
          <div>
            <ng-icon name="heroUser" size="30"></ng-icon>
          </div>
        </div>
      </div>
      <ul tabindex="0" class="menu menu-md dropdown-content bg-base-200 rounded-box z-[1] mt-3 w-48 p-2 shadow">
        <li><a routerLink="/account/sign-up"><ng-icon name="heroPlusCircle"></ng-icon>Sign up</a></li>
        <li><a routerLink="/account/sign-in"><ng-icon name="heroArrowRightEndOnRectangle"></ng-icon>Sign in</a></li>
        <li><a routerLink="/account/user-account"><ng-icon name="heroUser"></ng-icon>My account</a></li>
        <li><a><ng-icon name="heroArrowRightOnRectangle"></ng-icon>Sign out</a></li>
      </ul>
    </div>
  </div>
</div>
